body{
	background-color: #b3c5e6;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
width: 80%;
font-size: 14px;
border-radius: 1px;
border-spacing: 0;
text-align: center;
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
}
th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: #F8E391;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}

box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: auto;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 80%;
  margin-right: 100px;
}
button:hover {
  background-color: #BCEBDD;
} 

 /* Container needed to position the button. Adjust the width as needed */
 .container {
  display: table;
  border-spacing: 1px 1px;
  width: 130px;
  margin: 1px;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  display: table-cell;
  background-color: #F8E391;
  width: 40px;
  color: white;
  font-size: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin: auto;
}
.container .btn:hover {
  background-color: #4CAF50;
}

.container .btn2 {
  display: table-cell;
  background-color: #BCEBDD;
  width: 40px;
  color: white;
  font-size: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin: auto;
}

.container .btn2:hover {
  background-color: #4CAF50;
}  